<!doctype html>
<html lang="en">
<head>
  <mega charset="UTF-8">
  <title>Mobile Tau</title>
</head>

<body>
  <header>
    <img src="/img/logo.png" alt="Mobile Tau - Voice That Matters">
  </header>
  {{{body}}}
</body>

</html>
